BitDeInteligencia/.idea/runConfigurations.xml
BitDeInteligencia/.idea/modules.xml
BitDeInteligencia/.idea/misc.xml
BitDeInteligencia/.idea/gradle.xml
BitDeInteligencia/.idea/codeStyles/Project.xml
BitDeInteligencia/.idea/caches/build_file_checksums.ser
